.venv
python/__pycache__/
!doks/content/en/kusama/*.md
doks/content/en/kusama
!doks/content/en/polkadot/*.md
doks/content/en/polkadot
1kv_json/
doks/.hugo_build.lock
doks/_data/
doks/node_modules/
doks/public/
doks/resources/
info/
new_figs/
onchain/
python/weights_data.json
tmp/
doks/package-lock.json
web/polkadot
web/kusama
