[Unit]
Description=1kv dashboard - dump json file

[Service]
User=USER
Group=USER
ExecStart=/home/USER/dashboard-1kv/python/dump-1kv-data.py
WorkingDirectory=/home/USER/dashboard-1kv/python/
KillSignal=SIGINT
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
