[Unit]
Description=1kv dashboard - compute score and make figures

[Service]
User=USER
Group=USER
ExecStart=/home/USER/dashboard-1kv/python/make_score_figures.py
WorkingDirectory=/home/USER/dashboard-1kv/python/
KillSignal=SIGINT
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
