[Unit]
Description=1kv dashboard - dump chain data

[Service]
User=USER
Group=USER
ExecStart=/home/USER/dashboard-1kv/python/active_eras.py
WorkingDirectory=/home/USER/dashboard-1kv/python/
KillSignal=SIGINT
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
